* {
  padding: 0;
  margin: 0; }

body {
  height: 100%;
  padding: 2rem;
  background-image: linear-gradient(to right bottom, white, red); }

.header {
  font-family: 'Abel', sans-serif;
  color: red;
  text-align: center; }

.search-bar {
  margin: 20px;
  text-align: center;
  position: relative;
  white-space: nowrap; }
  .search-bar input {
    width: 75%;
    background: transparent;
    border: none;
    border-bottom: 1px solid red;
    outline: none;
    color: transparent;
    font-size: 1.5rem;
    transition: all .3s; }
  .search-bar p {
    font-size: 1.5rem;
    position: absolute;
    left: 13%;
    transition: all .5s; }
    @media only screen and (max-width: 506px) {
      .search-bar p {
        font-size: 1rem;
        top: .8rem; } }
  .search-bar:hover p {
    font-size: .5rem;
    top: -1rem; }
  .search-bar:hover input {
    color: red; }

.video-item img {
  max-width: 64px; }

.video-detail .details {
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 1rem 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;
  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto; }

.list-group-item {
  cursor: pointer; }

.list-group-item:hover {
  background-color: #eee; }
